/* This styling will apply to the entire webpage */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans', 'Arial';
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header span {
    color: #d9dcd6;
}

/* The topnav is part of the header */
.topnav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Calibri', 'Trebuchet MS';
    font-size: 20px;

}

.topnav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

/* This is the styling for all the links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* This is the styling for all the paragraphs */
p {
    font-size: 16px;
    display: block;
}

/* Main hero image styling */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Start #seo styles */
#seo {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Calibri', 'Trebuchet MS';
    background-color: #0072bb;
    color: #ffffff;
    float: left;

}

#seo h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#seo img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

/* End #seo styles */

/* Start #orm styles */
#orm {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Calibri', 'Trebuchet MS';
    background-color: #0072bb;
    color: #ffffff;
    float: right;

}

#orm h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#orm img {
    max-height: 200px;
    float: right;
    margin-right: 25px;

}
/* End #orm styles */

/* Start #smm styles */
#smm {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Calibri', 'Trebuchet MS';
    background-color: #0072bb;
    color: #ffffff;
    float: left;

}

#smm h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

#smm img {
    max-height: 200px;
    float: left;
    margin-right: 25px;

}

/* End #smm styles */

/* All styling for webpage right sidebar */
.sidebar {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Calibri', 'Trebuchet MS';
    background-color: #2589bd;
    color: #ffffff;

}

.sidebar section {
    margin-bottom: 32px;

}

.sidebar img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.sidebar h3 {
    text-align: center;
    color: #ffffff;
}

/* Footer styling */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Arial';
    text-align: center;
}

.footer h2 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Arial';
}
